.c-btn {
  border: none;
  cursor: pointer;
  &:focus {
    outline-style: inset;
    outline-color: var(--color-lighter-gray);
    outline-width: 1px;
  }
  &_icon {
    display: flex;
    background-color: var(--bgColor);
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
  }
  &[type='primary'] {
    background: var(--color-blue);
    color: var(--bgColor);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    min-width: 150px;
  }
}
