*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
}

.o-main {
  display: grid;
  grid-template: max-content 1fr / 1fr;
  justify-items: center;
  gap: 0.5rem;
}

.o-section {
  display: block;
  width: 100%;
  max-width: 75rem;
  min-height: calc(100vh - 4rem);
  padding: 0 0.5rem;
}
