:root {
  --color-yellow: #ffe600;
  --color-dark-gray: #333;
  --color-light-gray: #666;
  --color-lighter-gray: #999;
  --color-blue: #3483fa;
  --bgColor: #eee;
}

@import url(./styles/global.scss);
